<header class="block">
        <div class="container">
            <div class="logo ">
                <a href="\"><img src="assets/images/logo.png" class="img-responsive" alt="" /></a>
            </div>
            <div class="mainmenu whitecolor">
                <nav>
                    <ul>
                        <li>
                            <a href="#0"> STARTUP </a>
                        </li>
                        <li>
                            <a href="#0"> MINIMAL </a>
                        </li>
                        <li>
                            <a href="#0"> BOLD </a>
                        </li>
                        <li>
                            <a href="#0"> DOCS </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>