<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="bodybg">
    <% include ../partials/header %>


        <div class="container">
            <section class="bannertext whitecolor">

                <h2 class="boldfont">Analytics on demand.</h2>
                <p class="nomargin block">
                    Stop installing bloated scripts that all track the exact same things. Install one that does everything.
                </p>
                <a href="/about" class="whitecolor textdecoration">Try it now</a>

            </section>
        </div>
</body>

</html>